article {
  width: 70%;
  margin: 30px auto;
}

h1 {
  /* border-style: solid;
  border-width: 5px;
  border-color: #118ab2; */

  border: 5px solid #118ab2;
}

p {
  border-left: 5px solid #118ab2;
  padding-left: 10px;
}
