*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background: #ee5c52;
	background: -webkit-linear-gradient(-45deg, #ee5c52, #e73cae, #2385d5, #23d5d5);
	background: linear-gradient(-45deg, #ee5c52, #e73cae, #2385d5, #23d5d5);
	background-size: 400% 1000%;
	animation: gradient 12s ease-in-out infinite;
}

span {
	cursor: pointer;
	background: #ee5c52;
	color: white;
	height: 40px;
	width: 0;
	margin-right: 20px;
	text-align: center;
	display: inline-block;
	transition: all 0.3s;
	opacity: 0;
}

li:hover span {
	width: 40px;
	opacity: 1.0
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li {
	background: white;
	height: 40px;
	line-height: 40px;
	color: #666;
	cursor: pointer;
}

li:nth-child(2n) {
	background: #efefef;
}

input {
	font-size: 18px;
	padding: 13px 13px 13px 20px;
	width: 100%;
	background: #efefef;
	color: #262626;
	border: 3px solid rgba(0, 0, 0, 0);
	transition: all 0.2s;
}

input:focus {
	background: white;
	border: 3px solid #262626;
	outline: none;
}

#title {
	background: #2e3532;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
}

#container {
	width: 360px;
	background: #f7f7f7;
	margin: 120px auto;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.task-completed {
	color: rgba(88, 88, 88, 0.4);
	text-decoration: line-through;
}

.fa-plus {
	float: right;
}

.fa-plus {
	cursor: pointer;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
